.order_item_link {
  text-decoration: none;
  color: var(--text-primary-color);
  border-radius: 40px;
  background-color: var(--background);
}

.order_item_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.order_item_title {
  min-height: 30px;
  line-height: 30px;
  padding: 0px 0px 12px 24px;
  margin: 0;
  z-index: 123123;
}

.order_item_number {
  max-width: 20vh;
  line-height: 24px;
}

.order_item_status {
  padding: 0px 0px 0px 24px;
  margin: 12px 0px 0px 0px;
}

.order_item_status_done {
  color: #00CCCC;
}

.order_item_status_default {
  color: #FFFFFF;
}

.order_item_body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0px;
  margin: 12px 24px 24px 24px;
}

.order_item_body_image_li {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  background: linear-gradient(#131316, #131316) padding-box, linear-gradient(to right, #801ab2, #4c4cff) border-box;
  border-radius: 100px;
  border: 2px solid transparent;
  height: 64px;
  width: 64px;
}

.order_item_body_image_main {
  position: relative;
}

.order_item_body_image {
  display: flex;
  flex-direction: row;
  background: #1C1C21;
  height: 64px;
}

.order_item_body_invissible_count {
  left: 40%;
  top: 30%;
  position: absolute;
  line-height: 24px;
}

.order_item_price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  height: 64px;
  max-width: 25vw;
  padding: 0px;
  text-decoration: none;
}

