.image {
  width: 100%;
}

.modal_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.modal_content p {
  text-align: center;
}

.modal_content_body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
}

.modal_content_body_item {
  margin-right: 20px;
}

.modal_content_title {
  margin-top: 16px;
  margin-bottom: 32px;
}